body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    background-color: #ebebe7;
}
header {
    margin:0px;
    padding: 20px;
}

p{
    word-wrap: break-word;
    line-height: 30px;
}
.container{
  background-color: white;
  width:500px;
  height: 700px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;  
  border: 1px solid transparent;
  box-shadow: 0.1em 0.1em 0.7em rgb(129, 127, 127);
}
input{
    border: 0;
    border-bottom: 2px solid rgb(145, 140, 140);
    width: 80%;
    padding: 5px;
    margin-left: 30px;
    text-transform: uppercase;
    
}
input:focus{
    outline: none;
}

.update {
    width:30px;
}

.remove {
    float: right;
}

.grayout {
    opacity: 0.4;
}
.uppercase{
    text-transform: uppercase;
}

button{
    outline:none;
    background: none;
    border:none;
    padding:none;
}
.btn-style{
    font-size: 1.5em;
    font-weight: bolder;
    vertical-align: middle;
}
.iBtn{
    color: #00b2ee;
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.day {
    font-size: 62px;
    font-weight:bolder;
    text-transform: uppercase;
    color: #7b7e84;
    margin: 5px;
  }

  .month {
    font-size: 20px;
    margin: 6px;
  }

  .year{
    font-size: 20px;
    margin: 6px;
    letter-spacing: 7px;
  }
  

i{
    background: none;
    border:none;
    padding:none;
}

.big-icon{
 padding: 10px;
}
ul {
    list-style-type: none;
    text-align: left;
}
li{
    display: block;
    text-align: left;
    background: #eee;
    margin: 10px;
    border-radius: 20px;
    width: 90%;
    

}
#list{
    margin-right:20px;
}

.alignLeft{
    text-align: left;
}


@media only screen and (min-width: 600px) {
    body{
        padding: 10px;
    }
}