body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
header {
    margin:0px;
    padding: 20px;
}
main {
   
    margin: 0 auto;
    margin-top: 40px;
    color: black;
    text-align: center;
}
input{
    border: 0;
    border-bottom: 1px solid rgb(58, 57, 57);
    /* border: 1px solid #af006a;
    border-radius: 20px; */
    width: 85%;
    padding: 5px;
}
input:focus{
    outline: none;
}

.update {
    width:30px;
}

.remove {
    float: right;
}

.grayout {
    opacity: 0.4;
}
.uppercase{
    text-transform: uppercase;
}

button{
    outline:none;
    background: none;
    border:none;
    padding:none;
}
.btn-style{
    font-size: 1.5em;
    font-weight: bolder;
    vertical-align: middle;
}
.iBtn{
    color: #00b2ee;
}

i{
    background: none;
    border:none;
    padding:none;
}

.big-icon{
 padding: 10px;
}
ul {
    list-style-type: none;
    text-align: left;
}
li{
    display: block;
    text-align: left;
    background: #eee;
    margin: 10px;
    border-radius: 20px;
    width: 90%;
    

}
#list{
    margin-right:20px;
}

.alignLeft{
    text-align: left;
}


@media only screen and (min-width: 600px) {
    body{
        padding: 10px;
    }

    main {
    
        border-radius: 10px;    
        padding: 20px;
        width:50%;

    }

}